.prodetails {
    display: flex;
    margin-top: 20px;

    & .product-single___img {
        width: 30%;
        margin-right: 5%;
    }

    & .product-single__img-about {
        display: flex;
        justify-content: space-between;
    }

    & .product-single___img .mainImg {
        cursor: pointer;
        border: 3px solid #ccc;
    }

    & .img-about-col {
        margin-top: 1px;
        flex-basis: 24%;
        cursor: pointer;
        border: 3px solid #ccc;

        & img {
            display: block;
        }

        &.active {
            border: 3px solid #088178;
        }
    }

    & .product-single__details {
        width: 50%;
        padding-top: 30px;

        & h4 {
            padding: 40px 0px 20px 0px;
        }

        & h2,
        & h2 span {
            font-size: 2.8rem;
        }

        & .sproduct-size {
            display: block;
            padding: 5px 10px;
            border-radius: 3px;
            margin-bottom: 10px;
        }

        & input {
            width: 52px;
            height: 48px;
            padding-left: 10px;
            font-size: 1.8rem;
            margin-right: 10px;
            border-radius: 3px;
        }

        & input:focus {
            outline: none;
        }

        & button {
            background-color: #088178;
            color: #fff;
        }

        & span {
            font-size: 1.6rem;
        }
    }

    & .quantity-group {
        display: inline-flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        transform: translateY(25%);
        margin-right: 10px;

        .quantity-up,
        .quantity-down {
            margin: 0;
            font-size: 2rem !important;
            cursor: pointer;
            user-select: none;
        }
    }
}

// .modal-sproduct {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.imgZoom {
    position: relative;
    width: 100%;
    height: 85vh;

    & img {
        position: relative;
        cursor: zoom-in;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.zoomer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: none;
}
