.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: -webkit-sticky;
    padding: 2rem 8rem;
    position: sticky;
    z-index: 999;
    top: 0;
    right: 0;

    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0;

        .navbar__item {
            position: relative;
            list-style: none;
            cursor: pointer;

            .navbar__link {
                color: #1a1a1a;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 2.6rem;
                text-decoration: none;

                padding: 0.6rem 2.2rem;
                transition: 0.2s linear;

                &::after {
                    content: "";
                    position: absolute;
                    height: 3px;
                    background-color: #088178;
                    width: 30%;
                    bottom: 0;
                    left: 2.2rem;
                    border-radius: 2px;
                    opacity: 0;
                    transform: scale(0);
                    transition: 0.2s linear;
                    transform-origin: left top;
                }

                &:hover {
                    color: #088178;
                }
            }

            &:hover .navbar__link::after,
            &.active .navbar__link::after {
                opacity: 1;
                transform: scale(1);
            }

            &.active .navbar__link {
                color: #088178;
            }
        }
    }
}
